<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="Game" packages="">
    <Appenders>
        <File name="Error" fileName="logslf4j/error.log">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %15c - %msg%n</Pattern>
            </PatternLayout>
            <LevelRangeFilter minLevel="FATAL" maxLevel="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <File name="Info" fileName="logsl4j/info.log">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %15c - %msg%n</Pattern>
            </PatternLayout>
            <LevelRangeFilter minLevel="FATAL" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <File name="Trace" fileName="logsl4fj/trace.log">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %15c - %msg%n</Pattern>
            </PatternLayout>
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5level %15c: %msg%n%throwable" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="Trace"/>
            <AppenderRef ref="Info"/>
            <AppenderRef ref="Error"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>