<configuration>
    <appender name="TRACE" class="ch.qos.logback.core.FileAppender">
        <file>logs/trace.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %15c - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="INFO" class="ch.qos.logback.core.FileAppender">
        <file>logs/info.log</file>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %15c - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="WARN" class="ch.qos.logback.core.FileAppender">
        <file>logs/warn.log</file>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %15c - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %15c - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="trace">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="INFO" />
        <appender-ref ref="TRACE" />
        <appender-ref ref="WARN" />
    </root>
</configuration>